// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;

$yellow: #FDCB6E;
$orange: #E67E22;

// $yellow: #FFC65A;
// $orange: #FDCB6E;

$green: #00997B;
$light-green: #6BE38D;
$gray: #0E0000;
$light-gray: #F4F4F4;

//TODO: Use -> background: $primary-gradient;
$primary-gradient: linear-gradient(253.58deg, #6BE38D 1.55%, #00997B 66.84%);

.text-gradient {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
