<div class="banner-green">
  <div class="banner-elements-conteiner">
    <h1>Browse through thousands of our susteinable products. Only for you.</h1>
    <p>Acces all discountes becoming a <strong>premium member</strong> of BeeTooGreen</p>
  </div>
</div>

<%= render 'shared/search-bar'%>

<%= render 'shared/carousel'%>

