// Specific CSS for your home-page
.home-page-containers {
  margin-top: 224px;
  margin-bottom: 224px;
  h2 {
    font-weight: bolder;
  }
  h5 {
    margin-bottom: 152px;
  }
}

.home-carrousel {
  margin-top: 122px;
  margin-bottom: 224px;
}

.carrousel-title {
  font-weight: bolder;

}

.icon {
  color: black;
  font-size: 46px;
}

.step-1 {
  margin-right: 36px;
}

.step-2 {
 margin-right: 36px;
}

.seller-button {
  width: 25%;
  position: relative;
  bottom: 182px;
  left: 132px;
}
