// Specific CSS for your home-page
.home-page-containers {
  margin-top: 116px;
  margin-bottom: 116px;
  h2 {
    font-weight: bolder;
  }
  h5 {
    margin-bottom: inherit;

  }
}

.steps {
    padding: 24px;
    border-radius: 50%;
    background: linear-gradient( 253.58deg, #6BE38D 1.55%, #00997B 66.84%);
    color: white;
    text-decoration: none;
  }

.icon {
  color: black;
  font-size: 46px;
}

.collective-steps {
}
