
<h1 class="text-gradient text-center my-5"><strong>Your order has been successful</strong></h1>
<div class="container col-5 mt-5">
  <div class="form-container p-5 text-center">
      <p class="text-gradient m-5"><i class="fas fa-check-circle" style="font-size: 112px;"></i></p>

      <p>Status:<%= @purchase.state  %></p>
      <p>Amount:<%= @purchase.amount %>€</p>


  </div>
</div>
