
<h1 class="text-gradient text-center m-4"><strong>Your order has been successful</strong></h1>
<div class="container col-6 mt-5">
  <div class="form-container pt-3 text-center">
      <p class="text-gradient m-5"><i class="fas fa-check-circle" style="font-size: 150px; padding-bottom: 32px;"></i></p>

  </div>
</div>
