
<h1 class="text-gradient text-center my-5"><strong>Your order has been successful ! </strong></h1>
<div class="container col-5 mt-5">
  <div class="form-container p-3 text-center">
      <p class="text-gradient m-5"><i class="fas fa-check-circle" style="font-size: 112px;"></i></p>

      <p>Status: <%= @purchase.state.capitalize  %></p>
      <p>Total amount: <%= humanized_money_with_symbol(@purchase.amount) %></p>

      <div class="initialandnext">
        <%= link_to "See my other purchases", dashboard_path, class:"btn-gradient m-3" %>
        <%= link_to "Look for more products", listings_path, class:"btn-gradient m-3" %>
      </div>
      <p class="mt-3">☞ If the price reaches the next discount, you will be refunded the difference. </p>


  </div>
</div>
