<div class="banner-green" >
  <div class="banner-elements-conteiner">
    <h1>Browse through thousands of our sustainable products. Only for you.</h1>
    <p>Access all discountes becoming a <strong>premium member</strong> of BeeTooGreen</p>
  </div>
</div>
