<div class="banner">
  <div class="yellow-square d-flex justify-content-end">
    <%= image_tag 'background-yellow-square.png', style: 'height:820px;width:auto;'  %>
  </div>
  <div class="images-conteiner">
    <h1>Buy sustainable products at low prices</h1>
    <div class="banner-full-picture">
      <div class="collective-buy d-flex flex-column">
        <p>We want to promote a sustainable economy and create the largest sustainable shopping community</p>
        <%= image_tag 'collective-buy.png'%>
        <a href="#" class="btn-gradient">Read more</a>
      </div>
      <div></div>

    </div>
  </div>
</div>
