<div class="card-product">
  <div class="card-img"><img src="https://i.pinimg.com/564x/e7/65/6b/e7656b7854e08d8d8756e1f3fdd95a8e.jpg" />
    <div class="quick-view-title">
      <a href="#">Quick view</a>
    </div>
  </div>
    <div class="card-body">
      <div class="card-top-elements">
        <p>UNTIL THE 30/6/21</p>
        <p class="font-weight-bold">€ 10</p>
      </div>
      <div class="product-info">
        <h5 class="mb-3"><strong>PRODUCT NAME</strong></h5>
        <h6>This Hydrophil bamboo toothbrush is the best option to take care of your teeth while taking care of the environment.</h6>
      </div>
      <div class="card-bottom-elements">
        <a href="#">Join collective buy</a>
        <div>
          <a href="#">Read more</a>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
</div>



