  <footer>
    <div class="container d-flex justify-content-between footer-content">

      <div class="first-info-container">
        <p>FOLLOW US</p>
        <ul class="icons d-flex">
          <li><a href="" ><i class="fab fa-facebook"></i></a></li>
          <li><a href="" ><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="" ><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>

      <div class="second-info-container">
        <p>INFORMATION</p>
        <div class="d-flex">
          <ul class="info">
            <li><a href="#">BeTooGreen</a></li>
            <li><a href="">Get in Touch</a></li>
            <li><a href="">Things We Like</a></li>
          </ul>
          <ul class="info">
            <li><a href="">Help Center</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms of Service</a></li>
          </ul>
          <ul class="info">
            <li><a href="">We are hiring!</a></li>
            <li><a href="">Resources</a></li>
          </ul>
        </div>

      </div>

    </div>
  </footer>
