  <footer>
    <div class="container d-flex justify-content-between footer-content">

      <div class="first-info-container">
        <p class="text-secondary">FOLLOW US</p>
        <ul class="icons d-flex">
          <li><a href="" class="no-color"><i class="fab fa-facebook"></i></a></li>
          <li><a href="" class="no-color"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="" class="no-color"><i class="fab fa-instagram"></i></a></li>
          <li><a href="" class="no-color"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>

      <div class="second-info-container">
        <p class="text-secondary">INFORMATION</p>
        <div class="d-flex">
          <ul class="info">
            <li><a href="#" class="no-color">BeTooGreen</a></li>
            <li><a href="" class="no-color">Get in Touch</a></li>
            <li><a href="" class="no-color">Things We Like</a></li>
          </ul>
          <ul class="info">
            <li><a href="" class="no-color">Help Center</a></li>
            <li><a href="" class="no-color">Privacy Policy</a></li>
            <li><a href="" class="no-color">Terms of Service</a></li>
          </ul>
          <ul class="info">
            <li><a href="" class="no-color">We are hiring!</a></li>
            <li><a href="" class="no-color">Resources</a></li>
          </ul>
        </div>

      </div>

    </div>
  </footer>
