  <footer>
    <div class="footer-content d-flex">
      <div>
        <p>Follow us</p>
        <ul class="icons d-flex">
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-linkedin-in"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-twitter"></i></li>
        </ul>
      </div>

      <div>
        <p>otra lista</p>
        <ul class="info d-flex">
          <li>BeTooGreen</li>
          <li>Help Center</li>
          <li>We are hiring!</li>
        </ul>
        <ul class="info d-flex">
          <li>Get in Touch</li>
          <li>Privacy Policy</li>
          <li>Resources</li>
        </ul>
         <ul class="info d-flex">
          <li>Things We Like</li>
          <li>Terms of Service</li>
        </ul>
      </div>
    </div>
  </footer>
