<%= render 'shared/banner' %>
<div class="discover-products">
  <h2 class="text-center">Best rated products</h2>
  <div class="d-flex justify-content-center">
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
  </div>
</div>



