<%= render 'shared/banner' %>

<div class="container">
  <div class="home-page-containers">
    <h2 class="text-center">How collective buying works</h2>
    <h5 class="text-center mt-2">Reduce your footprint and <strong><span class="text-gradient">go green</span></strong></h5>
    <div class="collective-steps d-flex">
      <div class="step-1 text-center">
        <i class="icon fas fa-user mb-4" style="color: #00997B;"></i>
        <h4 class="mb-3">Find your favourite product</h4>
        <p>Search through all our sustainable products and find the perfect one for you.</p>
      </div>
      <div class="step-2 text-center">
        <i class="icon fas fa-users mb-4" style="color: #00997B;"></i>
        <h4 class="mb-3">Join the collective purchase</h4>
        <p>Watch the collective buy progress and discover the discounts you can have.</p>
      </div>
      <div class="step-3 text-center ">
        <i class="icon fas fa-leaf mb-4" style="color: #00997B;"></i>
        <h4 class="mb-3">Enjoy and be more green</h4>
        <p>Wait until the collective buying ends and get the product delivered to your house.</p>
      </div>
    </div>
  </div>


  <%= render 'shared/carousel' %>

</div>



