<div class="container">
  <h1 class="mb-3">Components</h1>
  <div>
    <h4 class="mb-4">Buttons</h4>
    <%= render 'shared/button' %>
    <br>
      <%= render 'shared/button-pages' %>
  </div>
  <br>
  <div>
    <h4 class="mb-4">Search bars</h4>
    <div class="col-8">
      <%= render 'shared/search-bar' %>
    </div>
  </div>

</div>

 <%= render 'shared/footer' %>
