<h1> <strong>DASHBOARD</strong>  </h1>

<h2> These are your products: </h2>
<% @products.each do |product| %>
<p>- <%= product.name %></p>
<% end %>

<h2> These are your current listings: </h2>
<% @listings.each do |listing| %>
<p>- <%= listing.product.name %></p>
<% end %>
