.banner-green {
  background-color: $green;
  background-image: url(image-path("banner-green.jpg"));
  height: 392px;
  background-size: cover;
  width: 100%;
}

.banner-green h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 72px;
  left: 98px;
  width: 446px;
}

.banner-green p {
  font-size: 14px;
  color: white;
  position: absolute;
  top: 240px;
  left: 98px;
}

.banner-elements-conteiner {
  width: 512px;
  position: relative;
}

