.under {
  z-index: 0;
}

.dashboard-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.dashboard-title-and-button {
  justify-content: space-between;
}

.dashboard-cards-center {
  justify-content: center;
}

.dashboard-products a {
  font-size: 24px;
  text-align: end;
  &:hover {
    text-decoration: none;
    color:green;
  }
}

.settings {
  display: flex;
  justify-content: space-between;
}
