.under {
  z-index: 0;
}

.dashboard-products {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-title-and-button {
  justify-content: space-between;
}

.dashboard-cards-center {
  justify-content: center;
}
