.under {
  z-index: 0;
}

.dashboard-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.dashboard-title-and-button {
  justify-content: space-between;
}

.dashboard-cards-center {
  justify-content: center;
}

.dashboard-products a {
  text-align: end;
  &:hover {
    text-decoration: none;
    color:green;
  }
}

.settings {
  display: flex;
  justify-content: space-between;
}

.top-products .fas {
  color:rgb(241, 196, 83);
}

.reports {
  margin: 56px 0px;
}

.sales-report {
  background-color: white;
  border-radius: 16px;
  width: 45%;
  padding: 46px;
}

.top-3-products {
  background-color: white;
  border-radius: 16px;
  width: 45%;
  padding: 46px;
}


a.large-icon { font-size: 24px; }
a.massive-icon { font-size: 32px; }





