footer {
 background-image: url("Wave.jpg"); /* The image used */
 height: 224px; /* You must set a specified height */
 background-size: cover;
 position: relative;
}


.footer-content {
  position: absolute;
}


.icons {
  list-style-type: none; /* Remove bullets */
}
