.lb-nav a.lb-prev {
  background: image-url("prev.png") left 48% no-repeat;
}
.lb-cancel {
  background: image-url("loading.gif") no-repeat;
}
.lb-nav a.lb-next {
  background: image-url("next.png") right 48% no-repeat;
}
.lb-data .lb-close {
  background: image-url("close.png") top right no-repeat;
}
