.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-btg {
  font-weight: bold;
}



/* Search element */
/* *{
  box-sizing: border-box;
}
*/

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 40px;
  width: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 40px;
  border-style: none;
}
.input-search::placeholder{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  padding-left: 12px;
}
.btn-search{
  width: 50px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 16px;
  background-color: white;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}
.input-search:focus{
  width: 300px;
  border-radius: 16px;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);

}
